main{
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 100px 100px;
  gap:10px;
}

div{
  border: solid 1px blue;
  height: 100px;
  width: 70px;
}

img{

  width: 70px;
  height: 60px;

}