<main>
  <table>
    <thead>
      <tr>
        <th>Combat Stats</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Health:</td>
        <td>{{health}}</td>
      </tr>
      <tr>
        <td>Armor:</td>
        <td>{{armor}}</td>
      </tr>
      <tr>
        <td>Melee DMG:</td>
        <td>{{mDmg}}</td>
      </tr>
      <tr>
        <td>Range DMG:</td>
        <td>{{rDmg}}</td>
      </tr>
      <tr>
        <td>Magazine:</td>
        <td>{{ammo}}</td>
      </tr> 
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Base Stats</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Strength:</td>
        <td>{{str}}</td>
      </tr>
      <tr>
        <td>Accuracy:</td>
        <td>{{acc}}</td>
      </tr>
      <tr>
        <td>Intimidation:</td>
        <td>{{intimid}}</td>
      </tr>
      <tr>
        <td>Dexterity:</td>
        <td>{{dex}}</td>
      </tr>
      <tr>
        <td>Intelligence:</td>
        <td>{{int}}</td>
      </tr> 
    </tbody>
  </table>
</main>